<div class="bg-image"></div>


<form [formGroup]="form" (ngSubmit)="onSubmit() ">
  <div class="d-flex justify-content-center bg-text">
    
    <div class="card col-9 p-5">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input
          [ngClass]="{'pointer-event-none':isViewMode}"
          formControlName="title"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Title"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">
          Description</label
        >
        <textarea
          [ngClass]="{'pointer-event-none':isViewMode}"
          formControlName="description"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <!-- <div >
        <button
          *ngIf="!isEditMode && !isViewMode"
          type="submit"
          class="btn btn-primary me-5"
        >
          POST
        </button>
        <button
          *ngIf="isEditMode && !isViewMode"
          type="submit"
          class="btn btn-primary me-5"
        >
          Update
        </button>

        <button
          *ngIf="isViewMode"
          type="button"
          class="btn btn-primary"
          (click)="cancel()"
        >
          View All
        </button>

        <button
          *ngIf="!isViewMode"
          type="button"
          class="btn btn-primary"
          (click)="cancel()"
        >
          Cancel
        </button>
      </div> -->
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary flex-grow-1 flex-sm-grow-0" *ngIf="!isEditMode && !isViewMode"
        type="submit">Post</button>
        <button class="btn btn-secondary flex-grow-1 flex-sm-grow-0"*ngIf="isEditMode && !isViewMode"
        type="submit">Update</button>
        <button class="btn btn-success flex-grow-1 flex-sm-grow-0"*ngIf="isViewMode"
        type="button">View All</button>
        <button class="btn btn-danger flex-grow-1 flex-sm-grow-0" *ngIf="!isViewMode"
        type="button">Cancel</button>
      </div>
    </div>
  </div>
</form>


<!-- <app-home-child [childpost]="parentposts"></app-home-child> -->
